<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="Python" value="C:\Users\user\AppData\Local\Programs\Python\Python311\python.exe" />
    </appSettings>
    <system.webServer>
        <handlers>
            <remove name="Python3" />
            <add name="Python3" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Python\Python311\python.exe %s %s" resourceType="Unspecified" requireAccess="Execute" />
        </handlers>
    </system.webServer>
</configuration>
